/* 
    Portfolio colors:  
    reddish background color: #2E0000;
    cyan: #01b6c9;
    magenta: #d80056;
    yellow: #f9d143;
    fourth color is plain white (#fff)
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --bg-red-brown: #2E0000;
    --cyan: #01b6c9;
    --magenta: #d80056;
    --yellow: #f9d143;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav {
    background-color: var(--bg-red-brown);
    color: #fff;
    padding: .3rem;
    width: 100vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
}

#logo {
    color: #fff;
    text-decoration: none;
    position: absolute;
    left: 1rem;
}


.dropdown-menu {
    position: relative;
    display: inline-block;
    font-size: 1rem;
}

.menu-content {
    display: none;
    position: absolute;
    width: 100%;
    min-width: 160px;
    z-index: 1;
}

.menu-icon {
    background: transparent;
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    display: none;
}

.menu-btn {
    color: #fff;
    display: inline-block;
    text-align: center;
    background-color: var(--bg-red-brown);
    padding: 20px;
    font-family: inherit;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.links, .links-hidden {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

.links-hidden:hover,.links:hover {
    background-color: var(--cyan);
 }

 .dropdown-menu:hover .menu-content {
    display: block;
 }
 .dropdown-menu:hover .menu-btn {
    background-color: var(--cyan);
 }

.menu-icon:focus {
    outline: 0;
}

@media screen and (max-width: 880px) {
    nav a:not(:first-child) {
    display: none;
 }
 nav .menu-icon {
    float: right;
    display: block;
    padding: 1rem;
 }
 .dropdown-menu{
    display: none;
 }
 nav.openNav a.menu-icon {
    position: relative;
 }
 nav.openNav a {
    float: right;
    display: block;
    text-align: center;
 }
}
nav.openNav .dropdown-menu{
 display: block;
 width: 100%;
}